extends observations
block observation_content
		table(style="width:100%" border=0)
			if studyid
				block casegroup_content
			else
				tr
					td(style="font-size:18px") Case Group Study >> General Info
					td(style="text-align:right;font-size:13px")
						a(href="/Casegroupstudy/Addnewstudy/#{data.HGNCSymbol}/#{data.ORDOID}") Add A New Study
				unless casegroupstudy
					tr
						td(colspan=2) &nbsp;
					tr
						td(colspan=2) No Case Group Study data. Click Add A New Study above to enter new data.
				else
					tr
						td(colspan=2) &nbsp;
					- var i = 0
					for c in casegroupstudy
						- i += 1
						tr
							td(colspan=2 style='background:#dcdcdc')
								span Study #{i}:
								span(sytle="width=50px") &nbsp;&nbsp;&nbsp;&nbsp;
								span(style="font-size:13px")
									a(href="/Casegroupstudy/Study/#{i}/Group/Addnew/#{data.HGNCSymbol}/#{data.ORDOID}") Add New Group
								br
								br
								span(style="padding-left:20px") Case Group (#{c.CaseGroup.length}):&nbsp;
								for g in c.CaseGroup
									a(href="/Casegroupstudy/Study/#{c.CaseStudyID}/Group/#{g.CaseGroupName}/#{data.HGNCSymbol}/#{data.ORDOID}") #{g.CaseGroupName}
									span ,&nbsp;
								br
								br
								span(style="padding-left:20px")
									a(href="/Casegroupstudy/Study/#{i}/Method/#{data.HGNCSymbol}/#{data.ORDOID}" style="text-decoration:none") Study Method:&nbsp;
								if c.Method
									br
									for v, k in c.Method
										if k == 'GenomeWideStudy' || k == 'GenotypingMethod' || k == 'EntireGeneSequencing' || k == 'CopyNumberAssessed'
											span(style='font-size:13px;padding-left:30px') #{k}:&nbsp;#{v};&nbsp;&nbsp;&nbsp;
								br
								br
								span(style="padding-left:20px")
									a(href="/Casegroupstudy/Study/#{i}/Segregation/#{data.HGNCSymbol}/#{data.ORDOID}" style="text-decoration:none") Segregation Analysis:&nbsp;
								if c.Segregation
									br
									for v, k in c.Segregation
										if k.indexOf('Ph') > -1
											span(style='font-size:13px;padding-left:30px') #{k}:&nbsp;#{v};&nbsp;&nbsp;&nbsp;
								br
								br
								span(style="padding-left:20px")
										a(href="/Casegroupstudy/Study/#{i}/Assessment/#{data.HGNCSymbol}/#{data.ORDOID}" style="text-decoration:none") Assessment(s)
								if c.Assessments
									br
									for v in c.Assessments
										span(style='font-size:13px;padding-left:30px') #{v.Level},&nbsp;&nbsp;&nbsp;
								br
						tr
							td(colspan=2) &nbsp;
