extends casegroup
block casegroup_content
	tr
		td(style="font-size:18px")
			a(href='/Casegroupstudy/#{data.HGNCSymbol}/#{data.ORDOID}' style='text-decoration:none') Case Group Study
			sapn &nbsp;>>&nbsp;
			- var studycnt = studyid
			if newstudy
			-	studycnt = casegroupstudy.length + 1
			a(href='#' style='text-decoration:none') Study #{studycnt}
			sapn &nbsp;>> Group #{group}
		td(style="text-align:right;font-size:12px;width:200px")
			a(href="/Casegroupstudy/Addnewstudy/#{data.HGNCSymbol}/#{data.ORDOID}") Add A New Study
	tr
		td(colspan=2) &nbsp;
	tr
		td(colspan=2)
			form(action="/Casegroupstudy/Group" method="post")
				table(style="width:100%")
					tr
						td(style="width:300px") Case Group Name
						td PM ID
						td Number of Case
					if group != 'Addnew'
						- var n = parseInt(studyid) - 1
						for c in casegroupstudy
							for g in c.CaseGroup
								if g.CaseGroupName == group
									tr(style="font-size:80%")
										td #{g.CaseGroupName}
										td #{g.PMID}
										td #{g.NumberOfCase}
					tr
						td(style="vertical-align:top" valign="top")
							input(type="text" id="gname" name="gname")
						td(style="vertical-align:top" valign="top")
							input(type="text" id="pmid" name="pid")
						td
							input(type="text" id="numcase" name="numcase")
					tr
						td(colspan=3) &nbsp;
					tr
						td Number of Affected Alleles
						td Number of Probands
						td Mean Age of Cases
					if group != 'Addnew'
						- var n = parseInt(studyid) - 1
						for c in casegroupstudy
							for g in c.CaseGroup
								if g.CaseGroupName == group
								tr(style="font-size:80%")
									td #{g.NumberOfAffectedAlleles}
									td #{g.NumberOfProbands}
									td #{g.MeanAgeOfCases}
					tr
						td
							input(type="text" id="numaffall" name="numaffall")
						td
							input(type="text" id="numprob" name="numprob")
						td
							input(type="text" id="maenage" name="maenage")
					tr
						td(colspan=3) &nbsp;
					tr
						td(style="width:150px") Median Age of Cases
						td(style="width:200px") Age of Onset
						td Sex Ratio
					if group != 'Addnew'
						- var n = parseInt(studyid) - 1
						for c in casegroupstudy
							for g in c.CaseGroup
								if g.CaseGroupName == group
								tr(style="font-size:80%")
									td #{g.MedianAgeOfCases}
									td #{g.AgeOfOnset}
									td #{g.SexRatio}
					tr
						td
							input(type="text" id="medianage" name="medianage")
						td(style="vertical-align:top" valign="top")
							input(type="text" id="ageonset" name="ageonset")
						td
							input(type="text" id="sexratio" name="sexratio")
					tr
						td(colspan=3) &nbsp;
					tr
						td Country of Origin
						td Ethnicity
						td Race
					if group != 'Addnew'
						- var n = parseInt(studyid) - 1
						for c in casegroupstudy
							for g in c.CaseGroup
								if g.CaseGroupName == group
								tr(style="font-size:80%")
									td #{g.CountryOfOrigin}
									td #{g.Ethnicity}
									td #{g.Race}
					tr
						td
							input(type="text" id="countryorigin" name="countryorigin")
						td
							input(type="text" id="ethnicity" name="ethnicity")
						td
							input(type="text" id="race" name="race")
					tr
						td(colspan=3) &nbsp;
					tr
						td Sporadical Familial
						td Primary Outcome
						td Other Attributes
					if group != 'Addnew'
						- var n = parseInt(studyid) - 1
						for c in casegroupstudy
							for g in c.CaseGroup
								if g.CaseGroupName == group
								tr(style="font-size:80%")
									td #{g.SporadicalFamilial}
									td #{g.PrimaryOutcome}
									td #{g.OtherAttributes}
					tr
						td(style="vertical-align:top" valign="top")
							input(type="text" id="sporfamil" name="sporfamil")
						td
							textarea(cols=50 rows=8 id="primaryoutcome" name="primaryoutcome")
						td
							textarea(cols=50 rows=8 id="otherattr" name="otherattr")
					tr
						td(colspan=3) &nbsp;
					tr
						td(colspan=3)
							input(type="submit" value="Enter" id="subbttn" style="height:25px;font-size:18px")
							span &nbsp;
							input(type="reset" value="Reset" style="height:25px;font-size:18px")
				input(type="hidden" name="symbol" value="#{data.HGNCSymbol}")
				input(type="hidden" name="ordoid" value="#{data.ORDOID}")
				input(type="hidden" name="group" value="#{group}")
				if newstudy
					- studyid = cnt + 1
				input(type="hidden" name="id" value="#{studyid}")

