extends layout
block content
	//-#summarydataboard
			li(style="font-size:110%;padding-left:50px") Total number of External curators: #{exp}
			li(style="font-size:110%;padding-left:50px") Total number of ClinGen curators: #{cg}
			li(style="font-size:110%;padding-left:50px") Total number of Expert curators: #{ec}
	#maincontent
		table(style="padding:150px 0px 50px 100px;width:900px")
			tr
				td.title Name
				td.title Working Institue
				td.title Email
				td.title ClinGen Title
			for d, i in data
				if d.LogName.indexOf('kgliu') == -1
					if i%2 == 0
						tr(style="height:25px")
							td #{d.Name}
							td #{d.WorkingInstitute}
							td #{d.ContactInfo}
							td #{d.Title}
					else
						tr.odd(style="height:25px")
							td #{d.Name}
							td #{d.WorkingInstitute}
							td #{d.ContactInfo}
							td #{d.Title}

	//-script(type="text/javascript" src="/javascripts/curatorsView.js")
