extends casegroup
block casegroup_content
	tr
		td(style="font-size:18px")
			a(href='/Casegroupstudy/#{data.HGNCSymbol}/#{data.ORDOID}' style='text-decoration:none') Case Group Study
			sapn &nbsp;>>&nbsp;
			a(href='#' style='text-decoration:none') Study #{studyid}
			sapn &nbsp;>> Method
		td(style="text-align:right;font-size:12px")
			a(href="/Casegroupstudy/Addnewstudy/#{data.HGNCSymbol}/#{data.ORDOID}") Add A New Study
	tr
		td(colspan=2) &nbsp;
	tr
		td(colspan=2)
			form(action="/casegroupstudy/Method" method="post")
				input(type="hidden" name="symbol" value="#{data.HGNCSymbol}")
				input(type="hidden" name="ordoid" value="#{data.ORDOID}")
				input(type="hidden" name="id" value="#{studyid}")
				table(style="width:100%")
					tr
						td Group Name (Study # ?)
						td Previous Testing
						td Previous Test Description
					if exist
						- var n = parseInt(studyid) - 1
						tr(style="font-size:80%")
							td #{casegroupstudy[n].Method.GroupName}
							td #{casegroupstudy[n].Method.PrevTest}
							td #{casegroupstudy[n].Method.PrevTestDescription}
					tr
						td(style="vertical-align:top" valign="top")
							input(type="text" id="gname" name="gname")
						td(style="vertical-align:top" valign="top")
							input(type="text" id="ptext" name="ptext")
						td
							textarea(cols=50 rows=8 id="ptestdesc" name="ptestdesc")
					tr
						td(colspan=3) &nbsp;
					tr
						td Genome Wide Study
						td Genotyping Method
						td Entire Gene Sequenced
					if exist
						- var n = parseInt(studyid) - 1
						tr(style="font-size:80%")
							td #{casegroupstudy[n].Method.GenomeWideStudy}
							td #{casegroupstudy[n].Method.GenotypingMethod}
							td #{casegroupstudy[n].Method.EntireGeneSequencing}
					tr
						td
							input(type="text" id="gwstudy" name="gwstudy")
						td
							input(type="text" id="gmethod" name="gmethod")
						td
							input(type="text" id="gsequenced" name="gsequenced")
					tr
						td(colspan=3) &nbsp;
					tr
						td(style="width:150px") Copy Number Assessed
						td(style="width:200px") Specific Mutations Genotyped
						td Specific Mutations Genotyped Method
					if exist
						- var n = parseInt(studyid) - 1
						tr(style="font-size:80%")
							td #{casegroupstudy[n].Method.CopyNumberAssessed}
							td #{casegroupstudy[n].Method.SpecMutationsGenotyped}
							td #{casegroupstudy[n].Method.SpecMutationsGenotypedMethod}
					tr
						td(style="vertical-align:top" valign="top")
							input(type="text" id="copynum" name="copynum")
						td(style="vertical-align:top" valign="top")
							input(type="text" id="mutategenotype" name="mutategenotype")
						td
							textarea(cols=50 rows=8 id="mutatemethod" name="mutatemethod")
					tr
						td(colspan=3) &nbsp;
					tr
						td Germline Data
						td Tumor Data
						td Family History
					if exist
						- var n = parseInt(studyid) - 1
						tr(style="font-size:80%")
							td #{casegroupstudy[n].Method.GermlineData}
							td #{casegroupstudy[n].Method.TumorData}
							td #{casegroupstudy[n].Method.FamilyHistory}
					tr
						td
							input(type="text" id="germline" name="germline")
						td
							input(type="text" id="tumor" name="tumor")
						td
							input(type="text" id="familyhistory" name="familyhistory")
					tr
						td(colspan=3) &nbsp;
					tr
						td(colspan=3)
							input(type="submit" value="Enter" id="subbttn" style="height:25px;font-size:18px")
							span &nbsp;
							input(type="reset" value="Reset" style="height:25px;font-size:18px")
