extends casegroup
block casegroup_content
	tr
		td(style="font-size:18px")
			a(href='/Casegroupstudy/#{data.HGNCSymbol}/#{data.ORDOID}' style='text-decoration:none') Case Group Study
			sapn &nbsp;>>&nbsp;Group #{group.GroupID},&nbsp;
			a(href='/Casegroupstudy/Group/#{group.GroupID}/Group' style='text-decoration:none') #{group.GroupData.GroupName}
			sapn &nbsp;>> Method
		td(style="text-align:right;font-size:14px")
			select(id='segid' name='segid')
				option(value='') Segregation
				if group.Segregation && group.Segregation.length > 0
					for seg in group.Segregation
						if seg.Active == 'Yes'
							option(value='#{seg.SegregationID}') #{seg.SegregationID}
				option(value='Addnew') Add A New One
			script(type="text/javascript").
							$(document).ready(function(){
								$("#segid").change(function() {
									if ($(this).children('option:selected').val() != '') $(location).attr('href', '/Casegroupstudy/Group/#{group.GroupID}/Segregation/' + $(this).children('option:selected').val())
								})
								/*$("#noteid").change(function() {
									$(location).attr('href', '/Casegroupstudy/Group/#{group.GroupID}/Note/' + $(this).childre('option:selected').val())
								})*/
							})
	tr
		td(colspan=2) &nbsp;
	tr
		td(colspan=2)
			form(action="/casegroupstudy/Method" method="post")
				input(type="hidden" name="symbol" value="#{data.HGNCSymbol}")
				input(type="hidden" name="ordoid" value="#{data.ORDOID}")
				input(type='hidden' name='groupid' value='#{group.GroupID}')
				table(style="width:100%")
					tr
						td Previous Testing
						td(colspan=2) Previous Test Description
					if group.Method && group.Curators[0] == user.LogName
						tr(style="font-size:80%")
							td(style="vertical-align:top") #{group.Method.PrevTest}
							td(colspan=2 rowspan=2)
								textarea(cols=120 rows=5 id="ptestdesc" name="ptestdesc") #{group.Method.PrevTestDescription}
						tr
							td(style="vertical-align:top")
								select(id="ptext" name="ptext")
										option(value="") Click to select
										option(value="Yes") Yes
										option(value="No") No
					else if group.Curators[0] == user.LogName
						tr
							td(style="vertical-align:top")
								select(id="ptext" name="ptext")
										option(value="") Click to select
										option(value="Yes") Yes
										option(value="No") No
							td(colspan=2 rowspan=2)
								textarea(cols=120 rows=5 id="ptestdesc" name="ptestdesc")
					else if group.Curators[0] != user.LogName && group.Method
						tr(style="font-size:80%")
							td(style="vertical-align:top") #{group.Method.PrevTest}
							td(colspan=2 rowspan=2) #{group.Method.PrevTestDescription}
					tr
						td(colspan=3) &nbsp;
					tr
						td(style="width:200px") Genome Wide Study
						td(style="width:250px") Genotyping Method
						td Entire Gene Sequenced
					if group.Method
						tr(style="font-size:80%")
							td #{group.Method.GenomeWideStudy}
							td #{group.Method.GenotypingMethod}
							td #{group.Method.EntireGeneSequencing}
					if group.Curators[0] == user.LogName
						tr
							td
								select(id="gwstudy" name="gwstudy")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
							td
								select(id="gmethod" name="gmethod")
									option(value="") Click to select
									option(value="PCR") PCR
									option(value="WGS") WGS
									option(value="WES") WES
							td
								select(id="gsequenced" name="gsequenced")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
					tr
						td(colspan=3) &nbsp;
					tr
						td(style="width:150px") Copy Number Assessed
						td(style="width:200px") Specific Mutations Genotyped
						td Specific Mutations Genotyped Method
					if group.Method && group.Curators[0] == user.LogName
						tr(style="font-size:80%")
							td #{group.Method.CopyNumberAssessed}
							td #{group.Method.SpecMutationsGenotyped}
							td(rowspan=2)
								textarea(cols=76 rows=3 id="mutatemethod" name="mutatemethod") #{group.Method.SpecMutationsGenotypedMethod}
					else if group.Curators[0] == user.LogName
						tr
							td(style="vertical-align:top" valign="top")
								select(id="copynum" name="copynum")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
							td(style="vertical-align:top" valign="top")
								select(id="mutategenotype" name="mutategenotype")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
							td(rowspan=2)
								textarea(cols=76 rows=3 id="mutatemethod" name="mutatemethod")
					else if group.Curators[0] != user.LogName && group.Method
						tr(style="font-size:80%")
							td #{group.Method.CopyNumberAssessed}
							td #{group.Method.SpecMutationsGenotyped}
							td #{group.Method.SpecMutationsGenotypedMethod}
					tr
						td(colspan=3) &nbsp;
					tr
						td Germline Data
						td Tumor Data
						td Family History
					if group.Method
						tr(style="font-size:80%")
							td #{group.Method.GermlineData}
							td #{group.Method.TumorData}
							td #{group.Method.FamilyHistory}
					if group.Curators[0] == user.LogName
						tr
							td
								select(id="germline" name="germline")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
							td
								select(id="tumor" name="tumor")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
							td
								select(id="familyhistory" name="familyhistory")
									option(value="") Click to select
									option(value="Yes") Yes
									option(value="No") No
					tr
						td(colspan=3) &nbsp;
					if group.Curators[0] == user.LogName
						tr
							td(colspan=3)
								input(type="submit" value="Submit" id="subbttn" style="height:25px;font-size:18px;cursor:pointer")
								span &nbsp;
								input(type="reset" value="Reset" style="height:25px;font-size:18px;cursor:pointer")
								span &nbsp;
								input(type="button" value="Delete" id="deletebutton" style="height:25px;font-size:18px;cursor:pointer")
						script(type='text/javascript').
							$().ready(function() {
								$("#deletebutton").click(function(err) {
									if (confirm('Delete the method?')) {
										var datastr = {
											"GroupID": "#{group.GroupID}",
											$.post('/CaseStudy/Group/Delete/Method', datastr, function(data) {
												if (data) $(location).attr('href', '/Casestudy/Group/#{group.GroupID}/Group')
											})
										}
									}
								})
							})

