extends casegroup
block casegroup_content
	tr
		td(style="font-size:18px")
			a(href='/Casegroupstudy/#{data.HGNCSymbol}/#{data.ORDOID}' style='text-decoration:none') Case Group Study
			sapn &nbsp;>>&nbsp;Group #{group.GroupID},&nbsp;
			a(href='/Casegroupstudy/Group/#{group.GroupID}/Group' style='text-decoration:none') #{group.GroupData.CaseGroupName}
			sapn &nbsp;>> Segregation #{item.SegregationID}
		td(style="text-align:right;font-size:14px")
			a(href="/Casegroupstudy/Group/#{group.GroupID}/Method") Method
			span &nbsp; | &nbsp;
			select(id='segid' name='segid')
				option(value='') Segregation
				for s in group.Segregation
					option(value='#{s.SegregationID}') #{s.SegregationID}
				option(value='Addnew') Add A New One
			span &nbsp; | &nbsp;
			select(id='noteid' name='noteid')
				option(value='') Note
				for n in group.Note
					if s.NoteID != item.NoteID
						option(value='#{n.NoteID}') #{n.NoteID}
					if item != "Addnew"
						option(value='Addnew') Add A New One
			script(type="text/javascript").
				$(document).ready(function(){
					$("#segid").change(function() {
						$(location).attr('href', '/Casegroupstudy/Group/#{group.GroupID}/Segregation/' + $(this).children('option:selected').val())
					})
					$("#noteid").change(function() {
						$(location).attr('href', '/Casegroupstudy/Group/#{group.GroupID}/Note/' + $(this).childre('option:selected').val())
					})
				})
	tr
		td(colspan=2) &nbsp;
	tr
		td(colspan=2)
			table(style='width:100%')
				tr
					td(sytle='width:50%')
						table(style='width=100%')
							for n in item.Note
					td
						form(action="/casegroupstudy/Segregation" method="post")
							input(type="hidden" name="symbol" value="#{data.HGNCSymbol}")
							input(type="hidden" name="ordoid" value="#{data.ORDOID}")
							input(type='hidden' name='gid' value='#{group.GroupID}')
							if item != "Addnew"
								input(type='hidden' name='nid' value='#{item.NoteID}')
							else
								input(type='hidden' name='nid' value='Addnew')
							table(style="width:100%")
								tr
									td From:

									td #{user.Name}
								tr
									td To:
									td
										if item != 'Addnew'
											span(style='font-size:80%') #{item.To}
											br
										input(type='text' id='receiver' name='receiver')
								tr
									td Date:
									td
										if item != 'Addnew'
											span(style='font-size:80%') #{item.DateTime}

								tr
									td Content:
									td #{item.Content}
