extends observations
block observation_content
		table(style="width:100%;font-size:16px")
			tr(style="height:25px")
				td Number of&nbsp;
					a(href='/Casegroupstudy/#{data.HGNCSymbol}/#{data.ORDOID}') Case Group Study
					if dada.Observations.CaseStudy
						span : #{data.Observations.CaseStudy.length}
					else
						span : 0
			tr(style="height:25px")
				td Number of&nbsp;
					a(href='/Casecontrolstudy/#{data.HGNCSymbol}/#{data.ORDOID}') Case Control Study
					if data.Observations.CaseControlStudy
						span :&nbsp;#{data.Observations.CaseControlStudy.length}
					else
						span :&nbsp;0
			tr(style="height:25px")
				td Number of&nbsp;
					a(href='/Functionaldataanalysis/#{data.HGNCSymbol}/#{data.ORDOID}') Functional Data Analysis:&nbsp;
				if data.Observations.FunctionalDataAnalysis
					span #{data.Observations.FunctionalDataAnalysis.length}
				else
					span 0
