extends curations_basic
block curation_content
		table.curationdata(border=1 style="margin-right:10px;width:98%")
			tr.curationdata
				td(style="padding-left:10px;width:180px")
					a.obsvtnstudy(href="/Curations/Literaturesearch/#{data.HGNCSymbol}/#{data.ORDOID}" style='text-decoration:none') Literature Search
				td
					table(style="width:100%;border:none;font-size:13px")
						tr
							td(align="center" style="font-size:14px") Date
							td(align="center" style="font-size:14px") Parameters
							td(align="center" style="font-size:14px") Returned Results
							td(align="center" style="font-size:14px") Relevant Results
							td(align="center" style="font-size:14px") Independent Clinical Reports
							td(align="center" style="font-size:14px") Time to Complete
						tr
							td(align="center") #{data.LiteratureSearch.Date}
							td(align="center") #{data.LiteratureSearch.Parameters}
							td(align="center") #{data.LiteratureSearch.ReturnedNumber}
							td(align="center") #{data.LiteratureSearch.RelevantNumber}
							td(align="center") #{data.LiteratureSearch.ClinicalReportNumber}
							td(align="center") #{data.LiteratureSearch.TimeComplete}
			tr.curationdata(style="height:500px")
				td(style="padding-left:10px;padding-top:10px;vertical-align:top" valign="top")
					span Observations
					br
					br
					li(style="font-size:12px")
						a.obsvtnstudy(href='/Casegroupstudy/#{data.HGNCSymbol}/#{data.ORDOID}' style='text-decoration:none') Case Group Studies
						span &nbsp;&nbsp;
						a(href='/Casegroupstudy/Addnew/#{data.HGNCSymbol}/#{data.ORDOID}' style='font-size:15px;font-weight:bold;text-decoration:none') +
					br
					li(style="font-size:12px")
						a.obsvtnstudy(href="/Casecontrolstudy/#{data.HGNCSymbol}/#{data.ORDOID}" style='text-decoration:none;color:grey') Case Control Studies
						span &nbsp;&nbsp;
						a(href='/Casecontrolstudy/Addnew/#{data.HGNCSymbol}/#{data.ORDOID}' style='font-size:15px;font-weight:bold;text-decoration:none;color:grey') +
					br
					li(style="font-size:12px")
						a.obsvtnstudy(href="/Functionaldataanalysis/#{data.HGNCSymbol}/#{data.ORDOID}" style='text-decoration:none') Functional Data Analysis
						span &nbsp;&nbsp;
						a(href='/Functionaldataanalysis/Addnew/#{data.HGNCSymbol}/#{data.ORDOID}' style='font-size:15px;font-weight:bold;text-decoration:none') +
				td(style="vertical-align:top")
					block observation_content
			if data.Summary
				tr.curationdata
					td(style="padding-left:10px")
						a.obsvtnstudy(href='Curations/Summary/#{data.HGNCSymbol}/#{data.ORDOID}') Summary
					td &nbsp;
			else
				tr
					td(style="color:grey;padding-left:10px") Summary
					td &nbsp;
			tr
				td(style="color:grey;padding-left:10px") Provisional Assertion
				td &nbsp;
			tr
				td(style="color:grey;padding-left:10px") Final Assertion Draft
				td &nbsp;
			tr
				td(style="color:grey;padding-left:10px") Final Assertion
				td &nbsp;
	#obsvtnwin(style="position:absolute;width:200px;border:solid #aaa 2px;z-index:10;display:none")
	script(type="text/javascript" src="/javascripts/observationsView.js")
