extends layout
block content
	//-a(href='/login?logname=#{user.LogName}&pwd=#{user.Password}' id="spindleLogo") SPINDLE
	table(id="toplinks")
		tr
			td
				a.this(href='/Curators') Curators
			td
				a(href='/Genes') Genes
			td
				a(href='/Diseases') Diseases
			td
				a(href='/Curation' style="color:grey") Curation
			//-td(style="padding-left:150px")
				a(href='/login?logname=#{user.LogName}&pwd=#{user.Password}' style="text-decoration:none") #{user.Name}
			td(style="padding-left:300px")
				a(href='/Logout') Logout
	br
	table(style='padding-left: 15px' border=0)
		tr
			td(style="font-size:110%", colspan="4") Total number of External curators: #{exp}
		tr
			td(style="font-size:110%", colspan="4") Total number of ClinGen curators: #{cg}
		tr
			td(style="font-size:110%", colspan="4") Total number of Expert curators: #{ec}
		tr
			td.title Name
			td.title Working Institue
			td.title Email
			td.title ClinGen Title
		for d, i in data
			if i%2 == 0
				tr
					td #{d.Name}
					td #{d.WorkingInstitute}
					td #{d.ContactInfo}
					td #{d.Title}
			else
				tr.odd
					td #{d.Name}
					td #{d.WorkingInstitute}
					td #{d.ContactInfo}
					td #{d.Title}
