extends layout
block content
	//-a(href='/login?logname=#{data.LogName}&pwd=#{data.Password}' id="spindleLogo") SPINDLE
	table(id="toplinks")
		tr
			td
				a(href='/Curators') Curators
			td
				a(href='/Genes') Genes
			td
				a.this(href='/Diseases') Diseases
			td
				a(href='/Curation' style="color:grey") Curation
			//-td(style="padding-left:150px")
				a(href='/login?logname=#{data.LogName}&pwd=#{data.Password}' style="text-decoration:none") #{data.Name}
			td(style="padding-left:300px")
				a(href='/Logout') Logout
	br
	form(action='/Diseases' method='get')
		table
			tr
				td(colspan=3) Total number of diseases with ORDO ID : #{total}
			tr
				td(colspan=3) Total number of diseases with OMIM ID: #{omim}
			tr
				td(colspan=3) &nbsp;
			tr
				td(colspan=3) Search ORDO disease data:
			tr
				td
					select(name="idType" id="idType")
						option(value="FullName") Key Word in Name
						option(value="Synonym") Key Word in Synonym
						option(value="ORDOID") ORDO ID
						option(value="OMIMID") OMIM ID
				td
					input(type="text" name="idValue" id="idValue")
				td
					input(type="submit" value="Enter")
	if selected
		if disease
			br
			table
				tr
					td(colspan=2 style="font-size:125%") ORDO records matched: #{disease.length}
				for d in disease
					tr.odd
						td Name:
						td #{d.FullName}
					tr
						td ORDO ID:
						td
							a(href='http://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=#{d.ORDOID}' target='_blank') ORPHA#{d.ORDOID}
					tr.odd
						td OMIM ID:
						td
							each omimid, i in d.OMIMID
								a(href='http://omim.org/entry/#{omimid}' target='_blank') #{omimid}
								span ;&nbsp;
					tr
						td Synonym:
						td #{d.Synonym}
					tr.odd
						td Type:
						td #{d.Type}
					tr
						td(colspan=2) &nbsp;
		else
			p(style="color:red") Not found.

