extends layout

block content
	unless login
		//-a(href='/' id="spindleLogo") SPINDLE
		br
		br
		p(style="font-size:150%") Please make sure cookie is acceptable in your browser.
		br
		p Enter your login name and password
		form(action="/login", method="post")
			table
				tr
					td Log Name:
					td
						input(type="text", name="logname", id="logname" autofocus)
				tr
					td Password:
					td
						input(type="password" name="pwd" id="pwd")
				tr
					td
						input(type="submit" value="Enter")
					td
						input(type="reset" value="Reset")
	else
		unless data
			a(href='/' id="spindleLogo") SPINDLE
			p(style="font-size:175d%; color:red") Invalid Log Name/Password.
			p Click Spindle above to access login.
		else
			a(href='/login?logname=#{data.LogName}&pwd=#{data.Password}' id="spindleLogo") SPINDLE
			if data.Active === 'Yes'
				table(id="toplinks")
					tr
						td
							a(href='/Curators') Curators
						td
							a(href='/Genes') Genes
						td
							a(href='/Diseases') Diseases
						td
							a(href='/Curation' style="color:grey") Curation
						//-td(style="padding-left:150px")
							a(href='/login?logname=#{data.LogName}&pwd=#{data.Password}' style="text-decoration:none") #{data.Name}
						td(style="padding-left:300px")
							a(href='/Logout') Logout
				br
				br
				table
					tr
						td(valign="top")
							table
								tr
									td(style="font-size:150%", colspan="2") Curator:
								tr
									td(width="25")
									td #{data.Name}
								tr
									td
									td #{data.WorkingInstitute}
								tr
									td
									td #{data.ContactInfo}
								tr
									td
									td #{data.Title}
						td(width="20px")
						td(valign="top")
							table
								tr
									td.title(style="font-size:150%") Login Record
								for d in data.LoginRecord
									tr
										td #{d}
				br
				if pwd
					p Your password changed.
					br
				form(action="/changepassword", method="post" id="changepwdfrom" onsubmit="return checkIdentical()")
					table
						tr
							td(style="font-size:125%" colspan=3) Change your password
						tr
							td New Password:
							td
								input(type="password", name="newpwd", id="newpwd")
							td
								input(type="submit", value="Enter")
						tr
							td Type Again:
							td
								input(type="password" name="newpwd2" id="newpwd2")
							td
								input(type="reset", value="Reset")
				script(type="text/javascript" src="/javascripts/loginView.js")
			else
				a(href='/' id="spindleLogo") SPINDLE
				table
					tr
						td(style="font-size:150%", colspan="2") Inactive Curator:
					tr
						td(width="25")
						td #{data.Name}
					tr
						//- td(align="right") Working Institute:
						td
						td #{data.WorkingInstitute}
					tr
						//- td(align="right") Email:
						td
						td #{data.ContactInfo}
					tr
							//- td(align="right") ClinGen Title:
						td
						td #{data.Title}
				br
				p(style='font-size:125%; color:red') Please contact ... for active
