extends layout
block content
	#pwdwin
		#closepoint(style="text-align:right")
			a(href="javascript:void(0)" id="closelink" title="Close") X
		span(style="font-size:125%;padding-top:15px; text-align:center; display: block") Change Password
		#wincontent(style="text-align:center;padding-top:15px")
		span#winalert(style="color:red; font-size:16px; text-align:center; display:block;padding-top:15px")
	script(type="text/javascript" src="/javascripts/changepwd.js")
	#summarydataboard(style="display:block;vertical-align:middle;line-height:40px;height:40px")
		form#associateionentry(action="/Curations" method="post")
			//-input(type="hidden" id="ordoid")
			span
				input(type="text" id="genesymbol" name="genesymbol" style="font-size:13px;height:18px;color:#bbbbbb;width:120px" value="Gene Symbol")
			span(style="font-size:15px;font-weight:bold") &nbsp;:&nbsp;
			span
				input(type="textarea" id="diseaseterm" name="diseaseterm" style="width:650px;height:18px;font-size:13px;color:#bbbbbb" value="Phenotype Term")
				//-textarea#diseaseterm(name="diseaseterm" rows=3 style="overflow:auto;resize:none;width:500px;font-size:14px;color:#bbbbbb" value="Disease Term")
			span &nbsp;
				//-select(id="diseaseterm" name="diseaseterm" style="font-size:120%;height:25px")
					option(id="keyword" value="Keyword") Keyword in Disease Name/Synonym
					option(id="ordoid" value="ORDOID") ORDO ID
					option(id="omimid" value="OMIMID") OMIM ID
			span
				input(type="submit" value="Enter" id="enterbutton" style="height:20px;font-size:16px")
	#genelist
	#diseaselist
	#mainboard(style="position:relative;margin:0 auto;padding:90px 30px 100px 30px")
		if data
			table(style="border:none;width:0%;margin:0")
				tr
					td
						span(style="font-size:26px") #{data.HGNCSymbol}&nbsp;
						span(style="font-size:32px;font-weight:bold") :
						span(style="font-size:26px;margin-left:10px") #{data.FullName}
				tr
					td
						table(style="width:100%")
							tr
								td(style="text-align:right" valign="top") GENE:
								td(style="padding-left:10px" valign="top")
									- var hgncid = data.HGNCID.split('HGNC:')[1]
									span
										a(href="http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=#{hgncid}" target="_blank") #{data.HGNCID}
									br
									span Entrez:
									span
										a(href="http://www.ncbi.nlm.nih.gov/gene/#{data.EntrezID}" target="_blank") #{data.EntrezID}
								td(style="text-align:right" valign="top") PHENOTYPE:
								td(style="padding-left:10px" valign="top")
									span ORDO ID:
									span
										a(href="http://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=#{data.ORDOID}" target="_blank") ORPHA#{data.ORDOID}
									br
									span OMIM ID:
										if data.OMIMID.length > 0
											for i in data.OMIMID
												span
													a(href="http://http://omim.org/entry/#{data.OMIMID[i]}" target="_blank") #{data.OMIMID}
												if i < data.OMIMID.length
													span ;&nbsp;&nbsp;
									br
									span Type: #{data.DisorderType}
									br
									span Ontology: OrphaNet
								td(style="width:20px") &nbsp;
								td(style="padding-left:30px" valign="top")
									span Creation: #{data.Curators[0].Name} @ #{data.Curators[0].DateTime}
									- var date = data.DateTime.split(' GMT-0800 ');
									span at #{date[0]}, #{date[1]}
									br
									span Curation Status: #{data.Status}
									br
									span Curator(s) Involved:&nbsp;
										for i in data.Curators
											span
												a(href="/") #{i.Name}
											if i < data.Curators.length
												span ,&nbsp;
									br
									- var lastjob = data.Curators.pop()
									- var lasttime = lastjob.DateTime.split(' GMT-0800 ')
									span Last Edited: #{lastjob.Contribution} by #{lastjob.Name} at #{lasttime[0]} #{lasttime[1]}
			span(style="font-size:22px;margin-left:50px") Curation:
			br
			block curation_content
		else
			br
			span(style="font-size:20px") Total number of gene:phenotype association: #{cnt}
			br
			br
			span(style="font-size:16px") Enter gene symbol and keywoord of phenotype term above to access.
	script(type="text/javascript").
			function passterm(obj) {
				$("#diseaseterm").css("color","#000000");
				$("#diseaseterm").val(obj.text);
				$("#diseaselist").css("display", "none");
				$("#ordoid").val() = obj.title;
			}
			function passsymbol(obj) {
				$("#genesymbol").css("color","#000000");
				$("#genesymbol").val(obj.text);
				$("#genelist").css("display", "none");
			}
	script(type="text/javascript" src="/javascripts/curationsView.js")
