extends curations_basic
block curation_content
	table.curationdata(border=1)
			tr.curationdata(style="height:200px")
				td(style="padding-left:10px") Literature Search
				td
					table(style="width:100%;border:none;font-size:13px")
						tr
							td(align="center") Date
							td(align="center") Parameters
							td(align="center") Returned Results
							td(align="center") Relevant Results
							td(align="center") Independent Clinical Reports
							td(align="center") Time to Complete
						tr
							if data.LiteratureSearch.Date
								td(align="center") #{data.LiteratureSearch.Date}
							if data.LiteratureSearch.Parameters
								td(align="center") #{data.LiteratureSearch.Parameters}
							if data.LiteratureSearch.ReturnedNumber
								td(align="center") #{data.LiteratureSearch.ReturnedNumber}
							if data.LiteratureSearch.RelevantNumber
								td(align="center") #{data.LiteratureSearch.RelevantNumber}
							if data.LiteratureSearch.ClinicalReportNumber
								td(align="center") #{data.LiteratureSearch.ClinicalReportNumber}
							if data.LiteratureSearch.TimeComplete
								td(align="center") #{data.LiteratureSearch.TimeComplete}
						form(action="/Curations/Literature" method="post" id="litdataform")
							input(type='hidden' id='symbol' name="symbol" value='#{data.HGNCSymbol}')
							input(type='hidden' id='ordoid' name="ordoid" value='#{data.ORDOID}')
							tr(style="text-align:center")
								td
									input(type="text" id="dateliterature" name="dateliterature")
								td
									input(type="text" id="searchparamters" name="searchparamters")
								td
									input(type="text" id="returnnumber" name="returnnumber")
								td
									input(type="text" id="releventnumber" name="releventnumber")
								td
									input(type="text" id="clinicalreportnumber" name="clinicalreportnumber")
								td
									input(type="text" id="completetime" name="completetime")
							tr
								td(colspan=6)
									input(type="submit" value="Enter" id="subbttn" style="height:25px;font-size:16px")
									span &nbsp;&nbsp;
									input(type="reset" value="Reset" style="height:25px;font-size:16px")
			tr.curationdata
				if data.Status == 'Creation'
					td(style="color:grey;width:200px;padding-left:10px") Observations
				else
					td(style="padding-left:10px;padding-top:10px")
						span
							a.obsvtnstudy(href="/Observations/#{data.HGNCSymbol}/#{data.ORDOID}") Observations
				tr
					td(style="color:grey;padding-left:10px") Summary
					td &nbsp;
			tr
				td(style="color:grey;width:200px;padding-left:10px") Provisional Assertion
				td &nbsp;
			tr
				td(style="color:grey;padding-left:10px") Final Assertion Draft
				td &nbsp;
			tr
				td(style="color:grey;padding-left:10px") Final Assertion
				td &nbsp;
	#obsvtnwin(style="position:absolute;width:200px;border:solid #aaa 2px;z-index:10;display:none")
	script(type="text/javascript" src="/javascripts/curationsView.js")
	script(type="text/javascript" src="/javascripts/observationsView.js")
