extends layout
block content
	unless data
		p(style="font-size:175d%; color:red") Must enter log name and password to access.
		p Click Spindle above to access login.
	else
		if data.Active === 'Yes'
			#pwdwin
				#closepoint(style="text-align:right")
					a(href="javascript:void(0)" id="closelink" title="Close") X
				span(style="font-size:125%;padding-top:15px; text-align:center; display: block") Change Password
				#wincontent(style="text-align:center;padding-top:15px")
				span#winalert(style="color:red; font-size:16px; text-align:center; display:block;padding-top:15px")
			script(type="text/javascript" src="/javascripts/changepwd.js")
			#summarydataboard(style="border-bottom:none")
				br
				span(style="font-size:18px") #{data.Name}&nbsp;(#{data.Title}),&nbsp;&nbsp;#{data.WorkingInstitute},&nbsp;&nbsp;#{data.ContactInfo}
			#maincontent
				table(align="center")
					tr
						td.title(style="font-size:150%") Login Record
							for d in data.LoginRecord
								tr
									td #{d}
			script(type="text/javascript" src="/javascripts/spindleView.js")
